@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

<div class="">
    @* [ Home | Browse Beats | Pricing | About | Contact | Sign Up/Login ] *@
    <div class="w-full justify-between text-white py-9 px-4 bg-black flex fixed">
        <div class="logo">
            <h1 class="">
                <a href="/">Nazarine</a>
            </h1>
        </div>
        <div class="nav-links flex gap-3 text-black">
            <a class="text-white" href="/Beats">Browse Beats</a>
            <a class="text-white" href="">Pricing</a>
            <a class="text-white" href="">About</a>
            <a class="text-white" href="">Contact</a>
            <a class="text-white" href="">Sign Up/Login</a>
            <a class="text-white" href="/create-beat">Create A Create</a>
        </div>
    </div>

</div>
