@page "/counter"
@rendermode InteractiveServer
@inject IBeatService BeatService

<h1>Create B</h1>

@* <EditForm Model="newBeat" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="title">Title</label>
        <InputText id="title" class="form-control" @bind-Value="newBeat.Title" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="newBeat.Description" />
    </div>

    <div class="form-group">
        <label for="genre">Genre</label>
        <InputText id="genre" class="form-control" @bind-Value="newBeat.Genre" />
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber id="price" class="form-control" @bind-Value="newBeat.Price" />
    </div>

    <div class="form-group">
        <label for="file">File Path</label>
        <InputText id="file" class="form-control" @bind-Value="newBeat.FilePath" />
    </div>

    <div class="form-group">
        <label for="coverImage">Cover Image Path</label>
        <InputText id="coverImage" class="form-control" @bind-Value="newBeat.CoverImagePath" />
    </div>

    <div class="form-group">
        <label for="uploadedBy">Uploaded By</label>
        <InputText id="uploadedBy" class="form-control" @bind-Value="newBeat.UploadedBy" />
    </div>

    <div class="form-group">
        <label for="uploadDate">Upload Date</label>
        <InputDate id="uploadDate" class="form-control" @bind-Value="newBeat.UploadDate" />
    </div>

    <div class="form-group">
        <label for="genreId">Genre ID</label>
        <InputNumber id="genreId" class="form-control" @bind-Value="newBeat.GenreId" />
    </div>

    <div class="form-group">
        <label>
            <InputCheckbox id="isDeleted" @bind-Value="newBeat.IsDeleted" />
            Is Deleted
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm> *@

@code {
    private Beat newBeat = new Beat
    {
        UploadDate = DateTime.Now,
        IsDeleted = false
    };

    private async Task HandleValidSubmit()
    {
        await BeatService.CreateBeatAsync(newBeat);
        Console.WriteLine("Beat created successfully!");
    }
}
